<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6VF7h02PRm96ZRd8k1bEcC90cBd98-hQ</string>
	<key>GCM_SENDER_ID</key>
	<string>59916081004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kanini.FetchingJsonData</string>
	<key>PROJECT_ID</key>
	<string>donut-swift-app</string>
	<key>STORAGE_BUCKET</key>
	<string>donut-swift-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59916081004:ios:1dd901c7c1863e5b738549</string>
</dict>
</plist>